@import url(navbar.css);
@import url(styles.css);
@import url(footer.css);

.start-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100vw;
    height: 30vh;
    background-image: url(../Images/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    gap: 1vw;
    filter: brightness(60%);
}

.start-pic p{
    font-size: 50px;
}

.normal-word{
    color: #393939;
}

.green-word{
    color: #A1C617;
}

.bio{
    width: 100%;
    overflow: hidden;
    margin-bottom: -8vh;
}

.names{
    display: flex;
    width: 120%;
    margin-top: 8vh;
    font-size: 20px;
    gap: 10%;
    margin-left: 3%;
}

.name{
    display: flex;
    justify-content: center;
    width: 20%;
}

.bio-text{
    width: 125%;
    display: flex;
    gap: 5%;
}

.name-text{
    width: 25%;
    text-align: justify;
    margin-left: 1.5vw;
    font-size: 20px;
}

.text-name{
    display: block;
    justify-content: center;
    margin-left: 3vw;
    margin-right: 3vw;
}

.bio-img{
    display: flex;
    width: 125%;
    gap: 6vw;
    margin-top: 5vh;
    margin-left: 3.7vw;
    margin-right: 3vw;
}

.about-img{
    background-image: url(../Images/pexels-yogendra-singh-2480807.jpg);
    width: 15%;
    height: 45vh;
    overflow: hidden;
    background-size: cover;
    border-radius: 5%;
}

.slide-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.next{
    height: 8vh;
    width: 4vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 1vw;
    font-size: 25px;
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9;
    transition: 0.3s ease-in-out;
}

.prev{
    height: 8vh;
    width: 4vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 1vw;
    border-radius: 50%;
    font-size: 25px;
    border: none;
    background-color: #D9D9D9;
    transition: 0.3s ease-in-out;
}

.next:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.prev:hover{
    transform: scale(1.1);
    cursor: pointer;
}
