@import url(navbar.css);
@import url(styles.css);
@import url(footer.css);

.Title{
    display: flex;
    margin-top: 7vh;
    align-items: center;
    justify-content: center;
    font-size: 10.38vh;
    font-family: url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
    color: #393939;
    
}
.first-3-images{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vh;
}

.card-div{
    width: 46.875vw;
    height: 92vh;
    margin: 3.11vh;
}

.flip-card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
}

.card-div:hover .flip-card{
    cursor: pointer;
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    width: 100%;
    height: 100%;
    border-radius: 3.11vh;
    position: absolute;
    backface-visibility: hidden;
}

.front-face{
    background-image: url(../Images/plasticfree.jpg) ;
    background-size: cover;
    overflow: hidden;
   
}

.back-face{
    background-color: #D9D9D9;
    transform: rotateY(180deg);
}

.small-image{
    width: 36.45vw;
    height: 43vh;
    margin: 3.11vh;
}

.small-image2{
    width: 36.45vw;
    height: 43vh;
    margin: 3.11vh;
}

.small-flip{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
}

.front,
.back{
    width: 100%;
    height: 100%;
    border-radius: 3.11vh;
    position: absolute;
    backface-visibility: hidden;
}

.small-image:hover .small-flip{
    cursor: pointer;
    transform: rotateY(180deg);
}

.small-image2:hover .small-flip{
    cursor: pointer;
    transform: rotateY(180deg);
}

.front{
    background-image: url(../Images/plasticfree.jpg);
    background-size: cover;
    overflow: hidden;
   
}

.back{
    background-color: #D9D9D9;
    transform: rotateY(180deg);
}

.second-3-images{
    display: flex;
    justify-content: space-between;
    margin-bottom: -7vh;
}

.title1{
    font-size: 4.3vh;
    color: rgb(84, 95, 68);
    text-align: center;

}
.text1{
	font-size: 3.6vh;
    width: 43vw;
	color: #030303;
	text-align: justify;
	display: flex;
    justify-content: center;
    margin-left: 2vw;
}

.title2{
    font-size: 3.3vh;
    color: rgb(84, 95, 68);
    text-align: center;

}
.text2{
    width: 34vw; 
    margin-left: 1.2vw;
	font-size: 2.9vh;
	color: #030303;
    text-align: justify;
	display: block;
}
.small-image2 .front{
    background-image: url(../Images/plasticfree.jpg);
    filter: brightness(70%);
    background-size: cover;
}

.card-div .front-face{
    background-image: url(../Images/led-lightbulb.webp);
    filter: brightness(70%);
    background-size: cover;
}
.small-image .front{
    background-image: url(../Images/kasturi-laxmi-mohit-uv6lUONd19w-unsplash.jpg);
    filter: brightness(70%);
    background-size: cover;
}

