@import url(navbar.css);
@import url(styles.css);
@import url(footer.css);

.Title{
    display: flex;
    margin-top: 7vh;
    align-items: center;
    justify-content: center;
    font-size: 10.38vh;
    font-family: url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
    color: #393939;
    
}
.first-3-images{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vh;
}
.first-image{
    display: flex;
    justify-content: center;
    padding: 3.11vh;
}
.first-image img{
    
    border-radius: 3.11vh;
    width: 46.875vw;
    height: 92vh;
    
}
.first-small-image{
    display: flex;
    justify-content: right;
    padding: 3.11vh;
    
}

.first-small-image img{
    border-radius: 3.11vh;
    width: 36.45vw;
    height: 43vh;
    
}

.second-small-image{
    display: flex;
    justify-content: right;
    padding: 3.11vh;
    
}


.second-small-image img{
    border-radius: 3.11vh;
    width: 36.45vw;
    height: 43vh;
    
}

.second-3-images{
    display: flex;
    justify-content: space-between;
    margin-bottom: -7vh;
}


.first-small-image2{
    display: flex;
    justify-content: center;
    padding: 3.11vh;
}

.first-small-image2 img{
    border-radius: 3.11vh;
    width: 36.45vw;
    height: 43vh;
    
}

.second-small-image2{
    display: flex;
    justify-content: center;
    padding: 3.11vh;
}

.second-small-image2 img{
    border-radius: 3.11vh;
    width: 36.45vw;
    height: 43vh;
    
}
.third-image{
    display: flex;
    justify-content: right;
    padding: 3.11vh;
}
.third-image img{
    
    border-radius: 3.11vh;
    width: 46.875vw;
    height: 92vh;
    
}
