@import url(navbar.css);
@import url(footer.css);
@import url(styles.css); /* We imported the navbar, footer, and styles css*/

.starting-img{ /* The first background-image*/
    background-image: url(../Images/pexels-vicente-vidal-2697050.jpg);
    background-size: cover;
    overflow: hidden;
    height: 50vh;
    filter: brightness(50%);
    width: 100%;
}

.Sentence{ /* The first sentence and its size and position*/
    margin-top: 17vh;
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    margin-left: -2vw;
    gap: 2vw;
}

.contactus{ /* 'CONTACT' word*/
    color: #393939;
}

.contactus-green{ /* 'US' word*/
    color: #A1C617;
}

.messages{ /* The big message*/
    margin-top: 7vh;
    width: 50vw;
    height: 83vh;
    margin-left: 5vw;
    position: relative;
}

.info { /* Information */
    width: 40vw;
    height: 7vh;
    margin-top: 3vh;
    border: 1px solid black;
    outline: none;
    font-size: 3.333vh;
}

.Fname label{ /* First name textbox*/
    position: absolute;
    top: 5vh;
    left: 1vw;
    background-color: white;
    transition: .3s;
    padding: 0 5px;
}

.Surname label{ /* Surname textbox*/
    position: absolute;
    top: 18.8vh;
    left: 1vw;
    background-color: white;
    transition: .3s;
    padding: 0 0.8333vh;
}

.Email label{ /* Email textbox*/
    position: absolute;
    top: 32.6vh;
    left: 1vw;
    background-color: white;
    transition: .3s;
    padding: 0 5px;
}

.Message { /* Big message box*/
    position: absolute;
    top: 43.4vh;
    font-size: 3vh;
    min-width: 79.9vh;
    max-width: 80vh;    
    min-height: 34.9vh;
    max-height: 35vh;
    background-color: white;
    transition: .3s;
    padding: 0 0.834vh;
    margin-top: 1vh;
    font-family: 'Inter', sans-serif;
}

.Fname input:focus ~ label,
.Fname input:valid ~ label{ /* Somekind of animation about first text box*/
    margin-top: -3.5vh;
    font-size: 2.5vh;
}

.Surname input:focus ~ label,/* Somekind of animation about second text box*/
.Surname input:valid ~ label{
    margin-top: -3.5vh;
    font-size: 2.5vh;
}

.Email input:focus ~ label, /* Somekind of animation about third text box*/
.Email input:valid ~ label{
    margin-top: -3.5vh;
    font-size: 2.5vh;
}

.button{ /* The button and its specifics*/
    width: 40vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 43vh;
}

textarea{ /* The text*/
    border: 1px solid black;
    color: black;
}

::placeholder{ /* Box around*/
    color: black;
}

.submit{ /* Submit button*/
    height: 6vh;
    width: 10vw;
    font-size: 2.5vh;
    background-color: transparent;
    border: 1px solid black;
}

.submit:hover{ /* Red when you want to click submit*/
    border: 1px solid red;
    cursor: pointer;
    color: red;
}

.contactus-page{ /* Parent div of all textboxes*/
    display: flex;
}

.address{ /* The address*/
    display: flex;
}

.Phone{ /* The phone*/
    display: flex;
    margin-top: 3vh;
}

.email{ /* The email*/
    display: flex;
    margin-top: 3vh;
}

.home-div{ /* Address div*/
    margin-left: -0.5vw;
}

.mail-div{  /* Email div*/
    margin-left: -0.5vw;
}

#home-em{ /* Text about address his size and postition*/
    font-size: 35px;
    margin-top: 4.5vh;
    margin-right: 2.5vw;
}

#phone-em{ /* Text about phone his size and postition*/
    font-size: 35px;
    margin-top: 5vh;
    margin-right: 2.5vw;    
}

#letter-em{ /* Text about email his size and postition*/
    font-size: 30px;
    margin-top: 5vh;
    margin-right: 2.5vw;    
}

.information{ /* Text about more info*/
    margin-left: 10vw;
    margin-top: 13vh;
}

.kv{ /* Text about district*/
    font-size: 4.166vh;
}

.country{ /* Text about country*/
    font-size: 2.833vh;
    color: grey;
    margin-top: -2vh;
}

.phone{ /* Text about phone*/
    font-size: 4.166vh;
}

.time{ /* Text about time*/
    font-size: 2.833vh;
    color: grey;
    margin-top: -2vh;
}

.mail{ /* Text about email*/
    font-size: 4.166vh;
}

.mail-us{ /* Text about mail us*/
    font-size: 2.833vh;
    color: grey;
    margin-top: -2vh;
}

footer{ /* The footer where is aligned*/
    margin-top: -10vh;
}

.sentence{ /* A sentence and its font-size*/
    font-size: 3.333;
}

@media screen and (max-width: 425px){ /* Max width of media screen is 425px*/
    .starting-img{ 
        margin: 0;
        height: 20vh;
    }

    .Sentence{ /* Size of the first sentecne*/
        width: 100%;
        font-size: 3.333vh;
        margin-top: 5vh;
    }

    .contactus-page{ /* The boxed to be displayed as a block*/
        display: block;
    }

    .button{ /* How is the button aligned*/
        margin-top: 45vh; 
        margin-left: 25vw;
    }

    .submit{ /*Submit text*/
        width: 30vw;
    }

    .info{ /* All info*/
        width: 90vw;
    }

    .Surname .Info{ /* Surname info and how is aligned*/
        margin-top: -1vh;
    }

    .Email .Info{ /* Email info and how is aligned*/
        margin-top: -2.3vh;
    }

    .Surname input:focus ~ label, /* Somekind of animation about text box*/
    .Surname input:valid ~ label{
    margin-top: -5vh;
    font-size: 2.5vh;
}

    .Email input:focus ~ label,/* Somekind of animation about text box*/
    .Email input:valid ~ label{
    margin-top: -6vh;
    font-size: 2.5vh;
}

    .Message{ /* Big message box*/
        min-width: 89vw;
        max-width: 90vw;
    }

    .details{ /* Text about details and its size*/
        width: 100vw;
    }

    .address .mail{ /* Text about address, mail and its font-size*/ 
        font-size: 3.333vh;
    }

    .Phone .phone{ /* Text about phone and its font-size*/
        font-size: 3.333vh;

    }

    .email .mail{ /* Text about email and its font-size*/
        font-size: 3.333vh;

    }
}