@import url(navbar.css);
@import url(footer.css);
@import url(styles.css);

.starting-img{
    background-image: url(../Images/pexels-vicente-vidal-2697050.jpg);
    background-size: cover;
    overflow: hidden;
    height: 50vh;
    filter: brightness(50%);
    width: 100%;
}

.Sentence{
    margin-top: 20vh;
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    margin-left: -2vw;
    gap: 2vw;
}

.contactus{
    color: #393939;
}

.contactus-green{
    color: #A1C617;
}

.messages{
    margin-top: 7vh;
    width: 50vw;
    height: 83vh;
    margin-left: 5vw;
    position: relative;
}

.info {
    width: 40vw;
    height: 7vh;
    margin-top: 3vh;
    border: 1px solid black;
    outline: none;
    font-size: 3.333vh;
}

.Fname label{
    position: absolute;
    top: 5vh;
    left: 1vw;
    background-color: white;
    transition: .3s;
    padding: 0 5px;
}

.Surname label{
    position: absolute;
    top: 18.8vh;
    left: 1vw;
    background-color: white;
    transition: .3s;
    padding: 0 0.8333vh;
}

.Email label{
    position: absolute;
    top: 32.6vh;
    left: 1vw;
    background-color: white;
    transition: .3s;
    padding: 0 5px;
}

.Message {
    position: absolute;
    top: 43.4vh;
    font-size: 3vh;
    min-width: 79.9vh;
    max-width: 80vh;    
    min-height: 34.9vh;
    max-height: 35vh;
    background-color: white;
    transition: .3s;
    padding: 0 0.834vh;
    margin-top: 1vh;
    font-family: 'Inter', sans-serif;
}

.Fname input:focus ~ label,
.Fname input:valid ~ label{
    margin-top: -3.5vh;
    font-size: 2.5vh;
}

.Surname input:focus ~ label,
.Surname input:valid ~ label{
    margin-top: -3.5vh;
    font-size: 2.5vh;
}

.Email input:focus ~ label,
.Email input:valid ~ label{
    margin-top: -3.5vh;
    font-size: 2.5vh;
}

.button{
    width: 40vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 43vh;
}

textarea{
    border: 1px solid black;
    color: black;
}

::placeholder{
    color: black;
}

.submit{
    height: 6vh;
    width: 10vw;
    font-size: 2.5vh;
    background-color: transparent;
    border: 1px solid black;
}

.submit:hover{
    border: 1px solid red;
    cursor: pointer;
    color: red;
}

.contactus-page{
    display: flex;
}

.address{
    display: flex;
}

.Phone{
    display: flex;
    margin-top: 3vh;
}

.email{
    display: flex;
    margin-top: 3vh;
}

.home-div{
    margin-left: -0.5vw;
}

.mail-div{
    margin-left: -0.5vw;
}

#home-em{
    font-size: 35px;
    margin-top: 4.5vh;
    margin-right: 2.5vw;
}

#phone-em{
    font-size: 35px;
    margin-top: 5vh;
    margin-right: 2.5vw;    
}

#letter-em{
    font-size: 30px;
    margin-top: 5vh;
    margin-right: 2.5vw;    
}

.information{
    margin-left: 10vw;
    margin-top: 13vh;
}

.kv{
    font-size: 4.166vh;
}

.country{
    font-size: 2.833vh;
    color: grey;
    margin-top: -2vh;
}

.phone{
    font-size: 4.166vh;
}

.time{
    font-size: 2.833vh;
    color: grey;
    margin-top: -2vh;
}

.mail{
    font-size: 4.166vh;
}

.mail-us{
    font-size: 2.833vh;
    color: grey;
    margin-top: -2vh;
}

footer{
    margin-top: -10vh;
}

.sentence{
    font-size: 3.333;
}

@media screen and (max-width: 425px){
    .starting-img{
        margin: 0;
    }

    .Sentence{
        width: 100%;
        font-size: 3.333vh;
    }

    .contactus-page{
        display: block;
    }

    .button{
        margin-top: 45vh; 
        margin-left: 25vw;
    }

    .submit{
        width: 30vw;
    }

    .info{
        width: 90vw;
    }

    .Surname .Info{
        margin-top: -0.3vh;
    }

    .Email .Info{
        margin-top: -0.7vh;
    }

    .Surname input:focus ~ label,
    .Surname input:valid ~ label{
    margin-top: -4vh;
    font-size: 2.5vh;
}

    .Email input:focus ~ label,
    .Email input:valid ~ label{
    margin-top: -4.3vh;
    font-size: 2.5vh;
}

    .Message{
        min-width: 89vw;
        max-width: 90vw;
    }

    .details{
        width: 100vw;
    }

    .address .mail{
        font-size: 3.333vh;
    }

    .Phone .phone{
        font-size: 3.333vh;

    }

    .email .mail{
        font-size: 3.333vh;

    }
}