@import url(footer.css);
@import url(navbar.css);

body{
    overflow-x: hidden;
}

.slider{
    width: 100%;
    width: 100vw;
    overflow: hidden;
}

.slider img{
    width: 100vw;
    height: 80vh;
    filter: brightness(50%);
}

.slides{
    width: 500%;
    height: 80vh;
    display: flex;
}

.slides input{
    display: none;
}

.first-slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    width: 100vw;
    height: 80vh;
}

.manual-nav{
    position: absolute;
    width: 100vw;
    margin-top: -6.5vh;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 0.8vh;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.manual-btn:not(:last-child){
    margin-right: 6.6vh;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first-slide{
    margin-left: 0;
}

#radio2:checked ~ .first-slide{
    margin-left: -20%;
}

#radio3:checked ~ .first-slide{
    margin-left: -40%;
}

#radio4:checked ~ .first-slide{
    margin-left: -60%;
}

.auto-nav{
    position: absolute;
    width: 100vw;
    margin-top: 73.5vh;
    display: flex;
    justify-content: center;
}

.auto-nav div{
    border: 2px solid white;
    padding: 0.8vh;
    border-radius: 10px;
    transition: 0.2s;
}

.auto-nav div:not(:last-child){
    margin-right: 6.6vh;
}

#radio1:checked ~ .auto-nav .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .auto-nav .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .auto-nav .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .auto-nav .auto-btn4{
    background-color: white;
}

.biggest-threats{
    display: flex;
    font-size: 9.666vh;
    gap: 2.5vh;
    width: 100vw;
    text-align: justify;
    color: #393939;
    font-weight: bold;
    margin-top: -4.1vh;
    margin-left: 4vh;
    margin-bottom: 3vh;
}

.green-word{
    color: #A1C617;
}

.forest-fires{
    display: flex;
    justify-content: center;
    gap: 3.2vh;
    width: 100%;
    height: 50vh;
    font-size: 4.166vh;
    margin-top: -6.6vh;
}

.forest-fires img{
    border-radius: 30px;
    width: 98.3vh;
    height: 60vh;
    margin-left: 2.45vh;
}

.forest-fires p{
    margin-top: 0vh;
    width: 40vw;
    height: 60vh;
    text-align: justify; 
}

.triple-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14.75vh;
    margin-top: 23.59vh;
    width: 100%;
    height: 60vh;
}

.item-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 8.19vh;
    width: 30vh;
    height: 30vh;
}

.item-img p{
    margin-left: 0vh;
    width: 50vh;
    text-align: justify;
}


.quote-div{
    background-image: url(../Images/pexels-ákos-szabó-440731.jpg);
    background-size: cover;
    overflow: hidden;
    width: 90vw;
    margin-top: 12.29vh;
    height: 70vh;
    margin-left: 9.83vh;
    border-radius: 25px;
    filter: brightness(50%);
}

.white-box{
    background-color: rgba(255,255,255,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55vw;
    height: 35vh; 
    border-radius: 20px;
    margin-left: 35.25vh;
    margin-top: 20vh;
}

.text-quote{
    font-size: 35px;
}

@media screen and (max-width: 425px){
    .slider{
        height: 30vh;
        width: 100vw;
        overflow: hidden;
    }
    
    .slider img{
        height: 30vh;
        width: 100vw;
    }

    .manual-nav{
        margin-top: -55vh;
    }

    .auto-nav{
        margin-top: 25vh;
    }

    .biggest-threats{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: medium;
        text-align: justify;
        margin-top: 1vh;
        margin-bottom: 3vh;
        gap: 1vh;
        width: 100vw;
    }

    .biggest-threats p{
        margin-bottom: 7vh;
    }

    .forest-fires{
        display: block;
        justify-content: center;
        align-content: center;
        gap: 3.2vh;
        width: 100vw;
        height: 50vh;
        font-size: 2vh;
        margin-top: -6.6vh;
        margin-left: 0;
    }

    .forest-img{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
    .forest-fires img{
        border-radius: 20px;
        width: 90vw;
        height: 25vh;
        margin-left: 0;
        margin-bottom: 2vh;
    }
    
    .forest-p{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .forest-fires p{
        margin-top: 0vh;
        width: 90vw;
        height: 25vh;
        text-align: justify; 
        margin-left: 0;
        display: flex;
    }

    .triple-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        margin-top: 10vh;
        width: 100vw;
        height: 180vh;
    }
    
    .item{
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .item-p{
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .item-img img{
        border-radius: 30px;
        margin-left: 0;
        width: 25vh;
        height: 25vh;
    }
    
    .item-img p{
        margin-left: 0vh;
        width: 90vw;
        text-align: justify;    
    }

    .big-quote{
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-bottom: -10vh;
        margin-top: 0;
    }

    .quote-div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 30vh;
        border-radius: 25px;
        margin: 0;
    }
    
    .white-box{
        width: 60vw;
        height: 15vh; 
        border-radius: 20px;
        margin: 0;
    }
    
    .text-quote{
        font-size: small;
    }
}