@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

header{
    background: #ECE3CE;
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    height:10vh;
    font-size: 2.5vh;
    z-index: 999;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.icons{
    display: flex;
    gap: 3vh;
    margin-right: 2vw;
}

.navbar{
    margin-right: 7vw;
}

.pages{
    display: flex;
    gap: 5vh;
    color: white;
}

#menu{
    display: none;
}

.pages-item{
    list-style: none;
    color: black;
}

.pages-item-scrolled{
    color: black;
}

.Logo{
    display: flex;
    width: 20vh;
    height: 10vh;
    margin-left: -23vw;
}

.lang,
.dark{
    font-size: 3.5vh;
}

.lang,
.dark:hover{
    cursor: pointer;
}

.logo{
    width: 20vh;
    height: 10vh;
    object-fit: cover;
}

.nav-item {
    text-decoration: none;
    width: 100%;
    color: black;
    transition: ease-in-out 0.3s;
    position: relative;
}


.pages a::after{
    content: "";
    background-color: black;
    width: 0;
    margin-bottom: -0.81vh;
    height: 0.33vh;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.3s ease;
}

.pages a:hover::after{
    width: 100%;
}

#burger-menu{
    font-size: 2.5vh;
    display: none;
}



@media screen and (max-width: 425px){
    body{
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
    }

    .navbar{
        width: 100vw;
        height: 10vh;
        display: flex;
        position: relative;
    }

    .nav-item{
        color: white;
        margin-left: -5vw;
        font-size: 25px;
        transition: all 0.3s ease;
    }

    .nav-item:hover{
        transform: scale(1.2);
    }

    .logo{
        width: 60vw;
        height: 10vh;
        object-fit: cover;
        margin-left: -10vw;
    }

    .pages{
        width: 90vw;
        margin-top: 103vh;
        gap: 5vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-left: -100%;
        height: 90vh;
        transition: all 0.3s ease;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #menu{
        position: absolute;
        top: 1.5vh;
        right: 7.5vw;
        width: 7vw;
        height: 7vh;
        display: none;
    }
    
    #menu:checked ~ ul{
        margin-left: 0;
    }

    #burger-menu{
        display: flex;
        position: absolute;
        width: 7vw;
        margin-left: 85vw;
        cursor: pointer;
        font-size: 30px;
    }
    .burger{
        display: flex;
        align-items: center;
        width: 7vw;
        height: 10vh;
    }
}