@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;550;600&family=Inter:wght@500&display=swap');

*{
    font-family: 'Exo 2', sans-serif;

}   

header{
    background: transparent;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height:10vh;
    font-size: 2.5vh;
    z-index: 999;
    justify-content: space-between;
    position: fixed;
    top: 0;
    transition: all 0.4s ease;
}

.nav-scrolled{
    background: rgba(42, 41, 41, 0.541);
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    height:10vh;
    font-size: 2.5vh;
    z-index: 999;
    justify-content: space-between;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 25px rgba(66, 66, 66, 0.541);
    transition: all 0.4s ease;
}

.icons{
    display: flex;
    gap: 3vh;
    margin-right: 6.5vw;
}

.navbar{
    margin-right: 10vw;
    font-family: 'Open Sans', sans-serif;

}

.pages{
    display: flex;
    gap: 5vh;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

#menu{
    display: none;
}

.pages-item{
    list-style: none;
    color: black;
}

.pages-item-scrolled{
    color: black;
}

.Logo{
    display: flex;
    width: 20vh;
    height: 10vh;
    margin-left: 5vw;
}

.lang i,
.dark i{
    font-size: 4vh;
    color: white;
    text-decoration: none;
}

.lang,
.dark:hover{
    cursor: pointer;
}

.logo{
    width: 20vh;
    height: 10vh;
    object-fit: cover;
}

.nav-item {
    text-decoration: none;
    width: 100%;
    color: white;
    transition: ease-in-out 0.3s;
    position: relative;
}


.pages a::after{
    content: "";
    background-color: whitesmoke;
    width: 0;
    margin-bottom: -0.81vh;
    height: 0.33vh;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.3s ease;
}

.pages a:hover::after{
    width: 100%;
}

#burger-menu{
    font-size: 2.5vh;
    display: none;
}



@media screen and (max-width: 425px){
    body{
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
    }

    header{
        width: 100vw;
        height: 10vh;
        display: flex;
        position: relative;
        box-shadow: 0px 0px 25px rgba(66, 66, 66, 0.541);
        background: rgba(42, 41, 41, 0.541);
    }

    

    .nav-item{
        color: white;
        margin-left: -5vw;
        font-size: 25px;
        transition: all 0.3s ease;
    }

    .nav-item:hover{
        transform: scale(1.2);
    }

    .logo{
        width: 60vw;
        height: 10vh;
        object-fit: cover;
        margin-left: -5vw;
    }

    .pages{
        width: 90.5vw;
        gap: 5vw;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-left: -194vw;
        height: 90vh;
        transition: all 0.3s ease;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #menu{
        position: absolute;
        top: 1.5vh;
        right: 7.5vw;
        width: 7vw;
        height: 7vh;
        display: none;
    }
    
    #menu:checked ~ .pages{
        margin-left: -83vw;
    }

    #burger-menu{
        display: flex;
        position: absolute;
        width: 7vw;
        cursor: pointer;
        font-size: 30px;
    }
    .burger{
        display: flex;
        align-items: center;
        width: 7vw;
        height: 10vh;
    }
    .icons{
        display: none;
    }
}